/*Accordion*/
.p-accordion2.p-accordion-header2 .p-accordion-header-link2 {
    padding: 1.25rem;
    border: 1px solid #dee2e6;
    color: #6c757d;
    background: #f8f9fa;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
}
.p-accordion2 .p-accordion-header2 .p-accordion-header-link2 .p-accordion-toggle-icon2 {
    margin-right: 0.5rem;
}
.p-accordion2 .p-accordion-header2:not(.p-disabled) .p-accordion-header-link2:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #BFDBFE;
}
.p-accordion2 .p-accordion-header2:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link2 {
    background: #e9ecef;
    border-color: #dee2e6;
    color: #343a40;
}
.p-accordion2 .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link2 {
    background: #f8f9fa;
    border-color: #dee2e6;
    color: #343a40;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.p-accordion2 .p-accordion-header2:not(.p-disabled).p-highlight:hover .p-accordion-header-link2 {
    border-color: #dee2e6;
    background: #e9ecef;
    color: #343a40;
}
.p-accordion2 .p-accordion-content2 {
    padding: 1.25rem;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.p-accordion2 .p-accordion-tab2 {
    margin-bottom: 4px;
}
